# the main flask dependencies are already installed by the parent docker image

# to enable secruity related calls
flask_cors
werkzeug>=2.2.3 # not directly required, pinned by Snyk to avoid a vulnerability
